.header {
	padding: 20px 0;
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 20px;
	align-items: center;
}

.input {
	position: relative;
	width: 400px;
	height: 40px;

	@media (max-width: 560px) {
		width: 100%;

		& input {
			padding: 0 10px 0 15px;
		}
	}

}

.searchIcon {
	position: absolute;
	z-index: 20;
	right: 10px;
	top: 10%;
	width: 30px;
	height: 30px;
}

.logo {
	font-size: 34px;
	display: flex;
	align-items: center;
	transition: all .3s ease-in-out;

	&:hover {
		color: var(--primary);
	}
}