.cart {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.totalPrice {
	font-size: 24px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;



	&Btn {
		justify-self: end;
		font-size: 18px;
		font-weight: 700;
		color: var(--main-text);
		background-color: var(--primary);
		padding: 8px 17px;
		border-radius: 7px;
		transition: all .3s ease-in-out;

		&:hover {
			background-color: var(--main-text);
			color: var(--black);
		}
	}
}

.empty {
	display: flex;
	align-items: center;
	gap: 10px;
}