.social {
	display: flex;
	align-items: center;
	gap: 10px;

	& svg {
		display: inline-block;
		width: 25px;
		height: 25px;
		transition: all .3s ease-in-out;

		&:hover {
			fill: var(--primary);
		}
	}
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}