.successPanel {
	background-color: #86bf95;
	color: #1f993f;
	padding: 20px;
	border-radius: 7px;
	max-width: 600px;
	position: relative;
}

.btn {
	background-color: transparent;
	position: absolute;
	top: 5px;
	right: 5px;
	color: #1f993f;
	font-weight: 700;
}