.layout {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 1440px;
	position: relative;
	min-height: 100vh;
	display: grid;
	grid-template-columns: auto 250px minmax(320px, 1200px) auto;
	grid-template-rows: auto 1fr auto;
	gap: 20px;

	grid-template-areas:
		'header header header header'
		' sidebar main main main '
		'footer footer footer footer'
	;

	@media (max-width: 768px) {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			'header'
			'main'
			'footer';
		gap: 20px;
	}
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;

	@media (max-width: 768px) {
		display: none;
	}

}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}


.displayed {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}